  body
{
  max-width: 100%;
  width: auto;
  height: auto;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 40px;
  max-width: 1440px;
  margin: 0 auto;
  height: 80px;
  box-sizing: border-box;
}


.logo-container img {
  height: 40px;
  display: block;
}


.nav {
  display: flex;
  gap: 45px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}


.icong-container {
  display: flex;
  gap: 25px;
  align-items: center;
}

.icong-container img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

  .new-collection {
    position: relative;
    width: 100%;
    height: 850px;
    overflow: hidden;
    }

  .image-container {    
    flex: 1;
    min-width: 300px;
  }
  
  .image-container img {
    width: 100%;
    height: 700px;
    display: block;
    object-fit: cover; }

      .image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 700px;
        z-index: 1; 
      }
      
      .image-container img {
        width: 100%;
        height: 812px;
        object-fit: cover;
        display: block;
      }
      
       
.new-collection-content {
  position: relative;
  z-index: 3;
  max-width: 700px;
  width: auto;
  background-color: rgba(255, 239, 216, 0.95); 
  padding: 40px;
  border-radius: 10px;
  margin: 100px auto;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 20px rgba(1, 1, 1, 0.1);
  left: 350px;
  top: 120px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}

.small-text {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.new-collection-content h1 {
  font-size: 52px;
  color: #b68a32;
  margin: 10px 0 20px;
  line-height: 1.5;
  font-weight: 700;
}

.new-collection-content p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px; }


.new-collection-contentbtn {
  background-color: #b68a32;
  color: white;
  border: none;
  padding: 24px 74px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
  align-self: flex-start; 
  margin-top: 20px; 
  text-decoration: none; 
  outline: none; 
}

.new-collection-contentbtn:hover {
  background-color: #997528;
  color: white;
}

        
      .text-menu-list1{
        margin-top: 10px;
      }
      .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
    

         body {
            font-family: 'Poppins', sans-serif;
          }
          .catalog-menu1
          {width: auto;
          height: fit-content;
          background-color:white;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          gap: 10px;
          margin-top: 10px;
        }
        .card-text{
          display: flex;
          justify-content: space-around;
          
        }
        .text-products {
          display: flex;
          justify-content: center;
          padding: 75px ;
        }
          
    
        .products-cards {
          display: grid;
          grid-template-columns: repeat(4,1fr);
          gap: 10px;
          padding: 140px;
          background-color: #f5f5f5; 
          height: fit-content;
        }

      @media (max-width:1040px) {
        .products-cards {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
      }

      .imagepro {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
        
        .product-card {
          background-color: #fff;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease;
          height: fit-content;
        }
    
        .product-image {
          width: 100%;
          height: 230px;
      }
        
        .product-title {
          font-size: 18px;
          margin: 10px;
          color: #333;
        }
        
        .product-desc {
          font-size: 12px;
          color: #777;
          font-weight: 600;
        }

        
        .product-price {
          display: flex;
          align-items: center;
          margin: 0 10px 15px;
        }
        
        .new-price {
          font-weight: bold;
          color: #b68a32;
          margin-right: 10px;
        }
        
        .old-price {
          color: #aaa;
          text-decoration: line-through;
          font-size: 14px;
        }
        .product-card img {
          display: block;
          margin: 0 auto;
        }
        
      .our-products-text{
        display: flex;
        justify-content: center;
        margin: 10px;
      }

      .beatiful-rooms{
        width: auto;
        height: auto;
        background-color: #fcf8f3;
      
      }

      .explore-morebtn {
        background-color: #b68a32;
        color: white;
        border: none;
        padding: 24px 74px;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        margin-top: 20px; 
        text-decoration: none; 
        outline: none;
      }
      
      .explore-morebtn:hover {
        background-color: #a57d29; 
        color: white; 
        border: none; }
      
    .beatiful-room-text1, .beatiful-room-text2 {
    font-weight: 700;
    font-size: 40px;
}






.beatiful-rooms-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 550px;
  margin: 0 auto;
}

.slider {
  position: relative;
  width: 600px;
  height: 850px;
  z-index: 1;
}

.slider-img {
  width: 600px;
  height: 850px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider-img.active {
  opacity: 1;
}

.controls {
  display: flex;
  justify-content:center;
  position: absolute; 
align-items: start;
  cursor: pointer;

}



.text-box {
 position:relative;
  width: 217px; 
  height: 130px; 
  background-color: rgba(254, 254, 254, 0.5); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #333; 
  font-size: 14px;
  padding: 23px; 
  box-sizing: border-box;
 left: 5%;

 }
 .nextbtnimg {
  position: absolute; 
  left: 100%;
  bottom:-5%;
}

.nextbtnimg img {
  width: 48px;
  height: auto;
  cursor: pointer;
}

.show-more-container {
  width: 100%; 
  display: flex;
  justify-content: center; 
  top: 10px; 
  background-color:#f5f5f5;
}

.showemorebtn {
  background-color: white;
  color: #b68a32;
  border: 2px solid #b68a32;
  padding: 24px 74px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
  text-decoration: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showemorebtn:hover {
  background-color: #b68a32;
  color: white;
}
.broomscontainer{
  height: auto;
  display:flex; 
  align-items: flex-end;
    flex-direction: row-reverse;
  gap: 40px;
  padding: 5% 0%;
  
}
.imgindicator{
  width: 120px;
  gap: 40px;
  position: relative;
  left: 60%;
  top: 100%;

}

  .otherimg{
    width: 372px;
    height: 486px;
    background-image: url(images/pcard6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
  }
  .funiro-furniture {
    width:fit-content;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;  
  width: 1440px;
  }
  
  .funiro-furniture-text {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    margin: 30px 0 20px;
    position: relative;
    bottom: 44.5%;  
    padding: 10px;
  }
  
  .fftp {
    font-size: 16px;
    color: #666666;
    margin: 0;
    font-weight: bold;
  }
  
  .hfuniro-furniture {
    font-size: 36px;
    font-weight: 700;
    color: #333333;
    margin: 10px 0 0 0;
  }
  
 
  
  .ph1 {

    background-image: url(images/test1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.gallery{
  display: flex;
  justify-content: center;
}
  .line {
    border: none;
    border-top: 1px solid grey;
    margin: 20px 0;
  }
.aboutus{
  width: auto;
  max-width: 1440px;
  height: auto;
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr 1fr);
  gap: 5% ;
}  
.pend1{
  font-size: 16px;
  color:#9F9F9F;
  font-weight: 400;
  
}
.h1end{
  font-size: 24px;
  font-weight: 700;
}

.textend1{
  display: grid;
  grid-column: 1fr;
  width: 345px;
}
.linksend{
  display: grid;
grid-template-columns: 1fr;
  width: 50px;
  font-weight: 400;
  font-size: 16px;
}
.links{
  color: #9F9F9F;;
}
.help{
color:#9F9F9F;; 
}

.Newsletterend {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
}

.Newsletter {
  color: #9f9f9f;
}

.newsletter-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.newsletter-form input {
  border: none;
  border-bottom: 1px solid black;
  padding: 4px 0;
  outline: none;
  font-size: 12px;
  width: 180px;
  color: #333;
}

.newsletter-form input::placeholder {
  color: #999;
}

.newsletter-form button {
  background: none;
  border: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  color: black;
  padding: 0;
}

.product-dess {
  width: 100%;
  height: fit-content;
  font-size: 12px;
  align-items: start;
  padding-left: 10px;
  box-sizing: border-box;
}


@media (max-width: 965px) {
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: white;
    padding: 35px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    border-top: 1px solid #eee;
  }

  .nav.open {
    max-height: 300px;
    opacity: 1;
  }

  .icong-container {
    margin-top: 10px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }



  .new-collection-content {
    left: auto;
    top: auto;
    margin: 40px 10px;
    width: 90%;
    padding: 20px;
  }

  .new-collection-content h1 {
    font-size: 32px;
  }

  .new-collection-content p {
    font-size: 16px;
  }

  .new-collection-contentbtn {
    width: 100%;
    padding: 16px 0;
    text-align: center;
    background-color: #b68a32;
  color: white;
  border: none;

  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
  align-self: flex-start; 
  text-decoration: none; 
  outline: none; }

  .products-cards {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }

  .slider,
  .slider-img {
    width: auto;
    height: fit-content;
    max-width: 880px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    transform: none;
    
  }

  .beatiful-rooms-text {
    width: 100%;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      width: 550px;
      margin: 0 auto;
    }
  
    

  .funiro-furniture{
display: none;
  }
  }

  .broomscontainer {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 0fr 1fr;
  }
  .text-box {
    position: absolute;
    top: 55%;
    left: 45%;
    width: 40%;
    height: auto;
    background-color: rgba(254, 254, 254, 0.85);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    font-size: 14px;
   
  
  }
  .imgindicator{
    display: none;
  }
  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .controls{
    position: absolute;
    top: 55%;
    left: 80%;
  }


  .funiro-furniture-text {
    position: relative;
    bottom: 40%;

  }

  .ph1 {
    background-size: cover;
  height: 500px;
  width: 1440px;
  }


  .newsletter-form {
    flex-direction: column;
    align-items: flex-start;
  }

  .newsletter-form input {
    width: 100%;
  }
  


.logo-container {
  cursor: default;
}



@media(max-width:1480px)
{   
  .funiro-furniture{
    width: 1360px;
  }
  .ph1{
    width:1360px ;
  }
  @media(max-width:1340px)
  {   
    .funiro-furniture{
      width: 1280px;
    }
    .ph1{
      width:1280px ;
    }
  }
  }
  @media(max-width:1340px)
  {   
    .funiro-furniture{
      width: 1280px;
    }
    .ph1{
      width:1280px ;
    }
}
@media(max-width:1280px)
{   
  .funiro-furniture{
    width: 1180px;
  }
  .ph1{
    width:1180px ;
  }
}
@media(max-width:1180px)
{   
  .funiro-furniture{
    width: 980px;
  }
  .ph1{
    width:980px ;
  }
}


@media (max-width:1030px) {
  .header-line{
    width: auto;
  }
  .logo-container {
    
    cursor: pointer;
  }

  .aboutus {
    grid-template-columns: 50%;
    gap: 20px;
    margin: 20px;
  }
.controls{
  top:65%;
  left: 77%;
}
}

.slider-img {
  display: none;
}

.slider-img.active {
  display: block;
}


 @media (max-width: 520px){

  .beatiful-rooms-text1{
    font-size: 25px;
  }
.beatiful-rooms-text{
  margin: 0 auto;
} 

}


 @media (max-width: 450px){

  .controls{
    position: absolute;
    left: 75%;
    top: 65%;
  }
  
  .broomscontainer {
  padding: 0px;
  gap: none; 
  width: auto;   
  }
  .header{
    width: auto;
  }
  .header-line {
    flex-direction: column;
    gap: 10px;
    height: 100px;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  
 }
.beatiful-rooms{
  margin: 0 auto;
}
.beatiful-rooms-text{
  padding: 5px;
}

} 
.text-list-menu{
display: flex;
align-items: center;
}

.text-list-menu {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  padding: 20px;
  margin: 0 auto;
  max-width: 600px; 
}

@media (max-width:828px) {
   .broomscontainer {
    grid-template-columns: 1fr;
    row-gap: 20px;
    align-items: center;
   }
   .slider {
    width: 372px;
    margin: 0 auto;
   }
   .otherimg {
    margin: 0 auto;
   }
}

@media (max-width:443px) {
   .beatiful-rooms-text1
   {
    font-size:  20px;
  }
  .beatiful-rooms-text2{
    font-size: 14px;
  }
.beatiful-rooms-text{
  max-width: 320px;
}
  .otherimg{
    width: 320px;

  }
.broomscontainer{
  width: auto;
}
.slider-img.active{
  width: 320px;
}
.slider-img{
  width: 320px;
}
.slider{
width: 330px;
}
.controls{
  left: 70%;
}
.text-box{
  left: 44%;
  top: 43%;
}
  
}

@media (max-width:359px) {
  .pend1{
    font-size: 14px;
  }
  .imgdining{
    width: 320px;
  }
  .imgliving{
    width: 320px;
  }
  .imgbedroom{
    width: 320px;
  }
}
