* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-line {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
 }
.header{ 
width: auto;    
background-color: white;
position: sticky;
top: 0;
z-index: 1000;}
  .nav {
    display: flex;
    gap: 75px;
    justify-content: space-between;
  }
 
  .nav a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    font-family:"Poppins", sans-serif;
    display: flex;
  
  }
  
  .icong-container {
    display: flex;
    gap: 25px;
    align-items: center;
  }
  
  .icong-container img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .new-collection {
    position: relative;
    width: 100%;
    height: 850px;
    overflow: hidden;
    }

  .image-container {    
    flex: 1;
    min-width: 300px;
  }
  
  .image-container img {
    width: 100%;
    height: 700px;
    display: block;
    object-fit: cover; }

      .image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 700px;
        z-index: 1; 
      }
      
      .image-container img {
        width: 100%;
        height: 812px;
        object-fit: cover;
        display: block;
      }
      
       
.new-collection-content {
  position: relative;
  z-index: 3;
  max-width: 700px;
  width: auto;
  background-color: rgba(255, 239, 216, 0.95); 
  padding: 40px;
  border-radius: 10px;
  margin: 100px auto;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 20px rgba(1, 1, 1, 0.1);
  left: 350px;
  top: 120px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}

.small-text {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.new-collection-content h1 {
  font-size: 52px;
  color: #b68a32;
  margin: 10px 0 20px;
  line-height: 1.5;
  font-weight: 700;
}

.new-collection-content p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px; }


.new-collection-contentbtn {
  background-color: #b68a32;
  color: white;
  border: none;
  padding: 24px 74px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
  align-self: flex-start; 
  margin-top: 20px; 
  text-decoration: none; 
  outline: none; 
}

.new-collection-contentbtn:hover {
  background-color: #997528;
  color: white;
}

        
      .text-menu-list1{
        margin-top: 10px;
      }
      .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
    
          .text-list-menu1, 
            .list-menu1 p {
             text-align: center;
             font-family: "Poppins", sans-serif;
             color: #333;
             margin: 0;
         }       
         .text-list-menu1{
            font-weight:700;
            font-size: 32px;
         }
         .list-menu1 p{
        font-size:20px;
        font-weight:400;
         }
         body {
            font-family: 'Poppins', sans-serif;
          }
          .catalog-menu1
          {width: auto;
          height: 700px;
          background-color:white;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          gap: 10px;
          margin-top: 10px;
        }
        .card-text{
          display: flex;
          justify-content: space-around;
          
        }
        .text-products {
          display: flex;
          justify-content: center;
          padding: 75px ;
        }
          
    
        .products-cards {
          display: grid;
          grid-template-columns: repeat(4,1fr);
          gap: 10px;
          padding: 140px;
          background-color: #f5f5f5; 
          height: 1600px;
        }
        
        .product-card {
          background-color: #fff;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease;
          width: 280px;
          height: 425px;
        }
    
        .product-image {
          width: 100%;
          height: 230px;
      }
        
        .product-title {
          font-size: 18px;
          margin: 10px;
          color: #333;
        }
        
        .product-desc {
          font-size: 14px;
          margin: 0 10px 10px;
          color: #777;
        }
        
        .product-price {
          display: flex;
          align-items: center;
          margin: 0 10px 15px;
        }
        
        .new-price {
          font-weight: bold;
          color: #b68a32;
          margin-right: 10px;
        }
        
        .old-price {
          color: #aaa;
          text-decoration: line-through;
          font-size: 14px;
        }
        .product-card img {
          display: block;
          margin: 0 auto;
        }
        
      .our-products-text{
        display: flex;
        justify-content: center;
        margin: 10px;
      }

      .beatiful-rooms{
        width: auto;
        height: 1000px;
        background-color: #fcf8f3;
        left: 400px;
      }

      .explore-morebtn {
        background-color: #b68a32;
        color: white;
        border: none;
        padding: 24px 74px;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        margin-top: 20px; 
        text-decoration: none; 
        outline: none;
      }
      
      .explore-morebtn:hover {
        background-color: #a57d29; 
        color: white; 
        border: none; }
      
    .beatiful-room-text1, .beatiful-room-text2 {
    font-weight: 700;
    font-size: 40px;
}




.beatiful-rooms-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-top: 250px;
    padding-left: 75px;
    left: 400px;
    width: 600px;
}

.slider {
  width: 600px;
  height: 600px;
  position: relative;
  overflow: hidden;
  left: 760px;
  bottom: 755px;
}

.slider-img {
  width: 600px;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider-img.active {
  opacity: 1;
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 2;
}

.controlls {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.text-box {
  position: absolute;
  top: 400px; 
  left: 250px; 
  width: 217px; 
  height: 130px; 
  background-color: rgba(254, 254, 254, 0.5); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #333; 
  font-size: 14px;
  padding: 23px; 
  box-sizing: border-box;
  z-index: 3;
 }
 .nextbtnimg {
  position: absolute; 
  top: calc(20px + 60px); 
  left: 468px;
  margin-top: 400px;
}

.nextbtnimg img {
  width: 48px;
  height: auto;
  cursor: pointer;
}

.show-more-container {
  width: 100%; 
  display: flex;
  justify-content: center; 
  top: 10px; 
  background-color:#f5f5f5;
}

.showemorebtn {
  background-color: white;
  color: #b68a32;
  border: 2px solid #b68a32;
  padding: 24px 74px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
  text-decoration: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showemorebtn:hover {
  background-color: #b68a32;
  color: white;
}



.content {
width: auto;
  height: auto;
  position: relative;
  bottom: 165px;
  left: 1425px;
  padding-bottom: 10px;

}
.imgindicator{
  width: 120px;
  height: 27px;
  position: absolute;
  gap: 40px;
}
  .otherimg{
    width: 372px;
    height: 486px;
    background-image: url(images/pcard6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
  }
  .funiro-furniture {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;  
    align-items: flex-start;  
  }
  
  .funiro-furniture-text {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    padding-top: 40px;      
  }
  
  .fftp {
    font-size: 16px;
    color: #666666;
    margin: 0;
    font-weight: bold;
  }
  
  .hfuniro-furniture {
    font-size: 36px;
    font-weight: 700;
    color: #333333;
    margin: 10px 0 0 0;
  }
  
  .p{
    font-weight: bold;
  }
  .ph1{ background-image: url(images/funiroph1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  width: 178px;
  height: 242px;
left: 891px;
top: 619px;
position: relative;
}
    
    .ph2{ background-image: url(images/funiroph2.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 52px;
      height: 486px;
      position: relative; 
      bottom: 126px;
    }

      
    .ph3{
      background-image: url;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 451px;
      height: 382px;
      position: relative;
      bottom: 438px;
      left: 70px;
    }
      
    .ph4{
      background-image: url(images/funiroph4.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 185px;
      height: 323px;
      position: relative;
      bottom: 490px;
      left: 5px;
    }
    .ph5{
      background-image: url(images/funiroph5.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 343.99px;
      height: 242px;
      position: relative; 
      bottom: 813px;
      left: 210px;
    }
  .ph6{
    background-image: url(images/funiroph6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 295px;
    height: 392px;
    position: relative;
    bottom: 1325px;
    left: 575px;

  }
  .ph7{
      background-image: url(images/funiroph7.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    width: 290px;
    height: 348px;
    position: relative;
    bottom: 1815px;
    left: 890px;
    }

  .ph8{
      background-image: url(images/funiroph8.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 258px ;
      height: 196px;
      position: relative;
      bottom: 1795px;
      left: 1090px;
  }
  .ph9{
    background-image: url(images/funiroph8.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 258px;
    height: 196px;
    position: relative;
    bottom: 2444px;
    left: 1197px;
 
  }
 
  .ph10{
    background-image: url(images/pcard1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 258px;
    height: 196px;
    position: relative;
  }

  .ph11{
    background-image: url(images/pcard8.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 258px;
    height: 196px;
    position: relative;
  }
  .ph12
{
    background-image: url(images/pcard3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 258px;
    height: 196px;
    position: relative;
    bottom: 2500px;
    left: 1500px;
  }
  body {
    overflow-x: hidden;
  }